@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="enter-area-forget-password-all" id="password-recovery"> 

        @{ Html.RenderPartial("ForgetPasswordPartial");  }

    </div>
</div>

<script>
    $("#forgetPasswordSend").click(function (event) {

        var emailPattern = /^[a-z0-9_-]+@@[a-z0-9-]+\.([a-z]{1,6}\.)?[a-z]{2,6}/i;

        var jsFieldForValidationError = document.getElementById('jsValidationForForgetPassword');

        var email = document.getElementById('password-recovery-email');
        var isEmailMatches = emailPattern.test(email.value);
        if (!isEmailMatches) {
             jsFieldForValidationError.style.display = "";
            event.preventDefault();
            return false;
        }

        jsFieldForValidationError.style.display = "none";
    });
</script>